<html>
  <head>{{title}}</head>
  <body>
    Hello,
    {{!-- testing a comment --}}
    <ul>
    {{#list:test}}
      <li>Person: {{firstName}} {{lastName}}</li>
    {{/list:test}}
    </ul>
  </body>
</html>
